{% extends 'base.html' %}

{% block content %}

	<div class='sidebar titles'>
			<nav class='note-links'>
				<ul class='nav side-title'>
					

			</nav>
	</div>
	{% if g.user %}
	<h2>{{g.user.username}}'s Notes</h2><hr>
		{% if not notes %}
			<p> You have no notes. Why not <a href="{{ url_for('main.new_note') }}">make one?</a></p>
		{% else %}
			{% for note in notes %}
				{% include 'notes/_notes.html' %}
				<!-- temp -->
				<hr>
			{% endfor %}

			<nav class = "page-bar" aria-label="...">
				<ul class='pager'>
					<li class='previous{% if not prev_url %} disabled{% endif %}'>
						<a href="{{ prev_url or '#' }}">
							<span aria-hidden='true'>&larr;</span>Newer Posts
						</a>
					</li>
					<li class='next{% if not next_url %} disabled{% endif %}'>
						<a href="{{ next_url or '#'}}">
							Older Posts<span aria-hidden='true'>&rarr;</span>
						</a>
					</li>
				</ul>
			</nav>
		{% endif %}
	{% else %}
	<h1> GET OUT OF HERE, PAYING CUSTOMERS ONLY!</h1>
	{% endif %}
{% endblock %}