<!doctype html>
<html>
{% block title %}<title>{% if title %}{{ title }}{% endif %} - Stickies </title>{% endblock %}

{% block style %}
<link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
{% endblock %}


<body class='main'>
	{% block nav %}
	
	<nav class='navbar'>
		<a class='navbar-title' href="{{ url_for('main.index') }}">Stickies</a>
		<div clas='navbar-pages'>
			<ul class='navbar-menu'>
				<li class='navbar-option'>
					<a class='navbar-link' href="{{ url_for('main.index') }}">Home</a>
				</li>
				{% if g.user %}
				<li class='navbar-option'>
					<a class='navbar-link' href="{{ url_for('main.new_note') }}">New</a>
				</li>
				{% endif %}
			</ul>
		</div>
		<ul class='navbar-menu mg-left d-flex'>
			{% if not g.user %}
			<li class='navbar-option'>
				<a class='navbar-link' href="{{ url_for('auth.login') }}">Login</a>
			</li>
			<li class='navbar-option'>
				<a class='navbar-link' href="{{ url_for('auth.register') }}">Register</a>
			</li>
			{% else %}
			<li class='navbar-option'>
				<a class='navbar-link' href="{{ url_for('auth.logout') }}">Logout</a>
			</li>
			{% endif %}
		</ul>
	</nav>

	{% endblock %}

	<br>

	<div class='container'>
		<header>
			{% block header %}{% endblock %}
		</header>
		{% with messages = get_flashed_messages() %}
		{% for message in messages %}
			<div class='alert alert-dark' role='alert'>{{ message }}</div>
		{% endfor %}
		{% endwith %}
		{% block content %}{% endblock %}
	</div>
</li>
</html>